@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    margin-top: 300px;
    margin-bottom: 0px;
    width: 25%;
}

h1 {
    margin-left: 40px;
}

.headline {
    margin-top: 300px;
    margin-bottom: 50px;
    text-align: center;
}

nav {
    margin-top: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

li {
    font-size: 16px;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
}
  
.content {
    display: flex;
    flex-direction: column;
}

.headline {
    font-size: 20px;
}

.bio {
    text-align: center;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 500px;
}

.contact {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 500px;
}

section {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 500px;
    width: 70%;
    color: gray;
}

.projects {
    display: none;
    text-align: center;
    margin-top: 100px;
    margin-left: 528px;
} 

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-top: 10px;
}

.project-description {
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
}

.project-one {
    margin-top: 50px;
}

.project-two {
    margin-top: 50px;
}

.project-three-image-1 {
    display: inline-block;
    margin-right: 10px;
}

.project-three-image-2 {
    display: inline-block;
    margin-left: 10px;
} 

.contact {
    margin-top: 400px;
    text-align: center;
    display: none;
} 

footer {
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 500px;
    text-align: center;
    width: 1387px;
}

.icon {
    margin-top: 10px;
    padding: 20px;
}

.icon:hover {
    cursor: pointer;
}

@media screen and (max-width: 960px) {

    h1 {
        margin-left: auto;
        text-align: center;
    }

    header {
        position: static;
        margin-top: 100px;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    .headline {
        margin-top: 100px;
        text-align: center;
        margin-left: auto;
        font-size: 20px;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-left: 0;
    }
    
    li {
        width: 100%;
    } 

    .bio {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .content {
        display: block;
    }

    .contact {
        font-size: 20px;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        display: none;
        text-align: center;
        color: gray;
    }

    .projects {
        margin-left: auto;
        margin-right: auto;
    }

    section {
        width: initial;
    }

    .project-description {
        font-size: 18px;
        text-align: center;
    }

    footer {
        margin-top: 50px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

@media screen and (max-width: 500px) {

    header {
        margin-top: 50px;
    }
    
    .headline {
        font-size: 16px;
    }

    .bio {
        font-size: 16px;
    }

    .project-three-image-1 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .project-three-image-2 {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .project-description {
        font-size: 16px;
    }

    .contact {
        font-size: 16px;
    }
}
