@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

header {
    float: left;
    margin-top: 300px;
    margin-bottom: 0px;
    width: 25%;
}

h1 {
    margin-left: 40px;
    background-color: white;
    color: black;
}

nav {
    margin-top: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

li {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.meat {
    display: flex;
    flex-direction: column;
}

section {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border: white solid 1px;
    background-color: lightgrey;
    color: gray;
    height: 150px;
    font-size: 125%;
  }

footer {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border: white solid 1px;
    background-color: lightgrey;
    color: gray;
    height: 100px;
    font-size: 125%;
}

@media screen and (max-width: 960px) {

header {
    float: none;
    margin-top: 100px;
    width: 100%;
}

h1 {
    margin-left: auto;
    text-align: center;
}

nav {
    margin-top: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style: none;
    display: inline;
}

}
